@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@100;300&display=swap');

$title: 'Roboto', sans-serif;
$sub-title: 'Nunito', sans-serif;
$bgcolour: #000;

.App {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgb(255, 194, 0);
  background: linear-gradient(0deg, rgba(255, 194, 0, 1) 0%, rgba(142, 139, 95, 1) 25%, rgb(1, 52, 161) 100%);
}

.header-content {
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.header-wrapper .header-content {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: $bgcolour;

  .header-wrapper.lighter {
    color: lighten($bgcolour, 50%);
  }

  .header-title {
    color: #fff;
    font-family: $sub-title;
    font-weight: 300;
  }
  input {
    position: 'relative';
    border-radius: 10px;
    padding-left: 10px;
    background-color: #fff;
  }
}
.location-wrapper {
  display: flex;
  width: 100%;
  margin-top: 100px;

  .location-content {
    font-family: $title;
  }
}
