@charset "utf-8";
// @import url('https://fonts.googleapis.com/css?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@100;300&display=swap');

$title: 'Roboto', sans-serif;
$sub-title: 'Nunito', sans-serif;
$bgcolour: #000;

// linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
.App {
  position: absolute;
  width: 100%;
  background-color: rgb(189, 189, 189);
}

.header-content {
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.header-wrapper .header-content {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: $bgcolour;

  .header-wrapper.lighter {
    color: lighten($bgcolour, 50%);
  }

  .header-title {
    color: #fff;
    font-family: $sub-title;
    font-weight: 300;
  }
  input {
    position: 'relative';
    border-radius: 10px;
    padding-left: 10px;
    background-color: #fff;
  }

  .btn {
    margin-left: 20px;
  }
}

.location-wrapper {
  display: flex;
  width: 100%;
  height: 1000px;
  margin-top: 100px;

  .location-content {
    font-family: $title;
  }
}
