.App {
  position: absolute;
  width: 100%; }

.header-content {
  max-width: 100%;
  padding: 20px;
  margin: 0 auto; }

.header-wrapper .header-content {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #d4d4d4; }
  .header-wrapper .header-content .header-wrapper.lighter {
    color: white; }
  .header-wrapper .header-content input {
    position: 'relative';
    border-radius: 10px;
    padding-left: 10px;
    background-color: fade(#fff, 0.15), "&:hover";
      background-color-background-color: fade(#fff, 0.25); }
  .header-wrapper .header-content .btn {
    margin-left: 20px; }

.location-wrapper {
  display: flex;
  width: 100%; }
  .location-wrapper .location-content {
    font-family: sans-serif; }
