@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@100;300&display=swap");
.App {
  position: absolute;
  width: 100%;
  background-color: #bdbdbd; }

.header-content {
  max-width: 100%;
  padding: 20px;
  margin: 0 auto; }

.header-wrapper .header-content {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #000; }
  .header-wrapper .header-content .header-wrapper.lighter {
    color: gray; }
  .header-wrapper .header-content .header-title {
    color: #fff;
    font-family: "Nunito", sans-serif;
    font-weight: 300; }
  .header-wrapper .header-content input {
    position: 'relative';
    border-radius: 10px;
    padding-left: 10px;
    background-color: #fff; }
  .header-wrapper .header-content .btn {
    margin-left: 20px; }

.location-wrapper {
  display: flex;
  width: 100%;
  height: 1000px;
  margin-top: 100px; }
  .location-wrapper .location-content {
    font-family: "Roboto", sans-serif; }
